In [46]:
import pandas as pd
import numpy as np
from scipy import stats

In [82]:
# load dataset
dataset = pd.read_csv("question1.csv")
dataset

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11
...,...,...,...,...,...,...,...
4995,4996,73,993,330,2,debit,2017-03-30 13:47:17
4996,4997,48,789,234,2,cash,2017-03-16 20:36:16
4997,4998,56,867,351,3,cash,2017-03-19 5:42:42
4998,4999,60,825,354,2,credit_card,2017-03-16 14:51:18
4999,5000,44,734,288,2,debit,2017-03-18 15:48:18

In [83]:
dataset.describe()

          order_id      shop_id      user_id   order_amount  total_items
count  5000.000000  5000.000000  5000.000000    5000.000000   5000.00000
mean   2500.500000    50.078800   849.092400    3145.128000      8.78720
std    1443.520003    29.006118    87.798982   41282.539349    116.32032
min       1.000000     1.000000   607.000000      90.000000      1.00000
25%    1250.750000    24.000000   775.000000     163.000000      1.00000
50%    2500.500000    50.000000   849.000000     284.000000      2.00000
75%    3750.250000    75.000000   925.000000     390.000000      3.00000
max    5000.000000   100.000000   999.000000  704000.000000   2000.00000

In [86]:
# current AOV
origin_aov = dataset["order_amount"].mean()

# a.

In [84]:
# step 1: remove outliers

# remove rows with outliers
dataset_standard = dataset[
    (np.abs(stats.zscore(dataset["order_amount"])) < 3) 
    | (np.abs(stats.zscore(dataset["total_items"])) < 3)]

In [100]:
# AOV after outliers have been removed
aov_result = dataset_standard["order_amount"].mean()

In [134]:
print(f"after outliers from item number and order amount are removed,"
      f"\nthe AOV dropped\n\nfrom {origin_aov:-8.2f}$"
      f"\nto {aov_result:-10.2f}$")

after outliers from item number and order amount are removed,
the AOV dropped

from  3145.13$
to     754.09$

# b.

#### for AOV, I would report the median of this dataset<br><br> for the whole dataset, I would first average order_amount by number of item, then remove outliers, to see how much is customer paying for an item on average

# c.

In [136]:
# median
suggest_aov = dataset_standard["order_amount"].median()
print(f"the median (suggested AOV measure) is\n{suggest_aov:.2f}$")

the median (suggested AOV measure) is
284.00$

In [135]:
# how much are most customers paying for an item on average

# average order_amount for one item
dataset["average_order"] = dataset["order_amount"] / dataset["total_items"]

# remove outliers from average_order
dataset_standard_b2 = dataset[(np.abs(stats.zscore(dataset["average_order"])) < 3)]

avg_item_exp = dataset_standard_b2["average_order"].mean()

print(f"most customers are paying\n{avg_item_exp}$\non average for an item")

most customers are paying
152.47557529269278$
on average for an item